h1 {
  text-align: center;
  font-family: didot, serif;
  color:peru;
}

h2 {
  text-align: center;
}

p {
  text-align: center;
}

.photos {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.icons {
  text-align: center;
}

.icon-source {
  font-size: xx-small;
  text-align:right;
  color:rgba(171, 95, 18, 0.713);
}

.page-body {
  font-family: didot, serif;
  font-size: x-large;
  padding-top: 20px;
  padding-left: 150px;
  padding-right: 150px;
}

a:visited {
  color: rgba(171, 95, 18, 0.713);
}

a {
  color: rgba(133, 72, 11, 0.787);
}

.nav {
  text-align: center;
  font-family: didot, serif;
  font-size: x-large;
};


